<script>
    const WEB_ROOT = "http://"+window.location.host;
</script>
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>board</title>
</head>

<body>
    <div class="container">
        <%- include('includes/header.ejs'); %>
        <h1><%= boardName %></h1>
        <div class="">
            <table class="table table-hover">
                <colgroup>
                    <col width="10%">
                    <col width="55%">
                    <col width="20%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<postData.length; i++){ 
                        var listItem = postData[i];
                    %>
                        <tr onclick="window.location=window.location.href + '/view/'+ <%=listItem['seq']%>">
                            <td><%= listItem['display_no'] %></td>
                            <td><%= listItem['title'] %></td>
                            <td><%= listItem['writer'] %></td>
                            <td><%= listItem['date'] %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-default" href="javascript:void(0)" onclick="window.open(WEB_ROOT+'/board/<%=boardName%>/insert', '_self')">Write</a>
        </div>
    </div>
</body>

</html>